{% extends 'home.html' %}

{% load static %}

{% block home %}
    <section class="contenedor-home-insta">
        
        
        <article class="contenedor-historias-usuarios">
            <img class="historias-usuarios" src="{% static 'img/messi.jpg' %}" alt="">
            <img class="historias-usuarios" src="{% static 'img/messi.jpg' %}" alt="">
            
            
        </article>
        
        
        
        <!--Aca va el maquetado de la publicacion del usuaio -->
        <article class="contenedor-publicacion-usuarios">

            <!--Seccion de parte de arriba de la publicacion-->
            <article class="contenedor-informacion-usuario">
                <div class="contenedor-imagen-usuario-publicacion">
                    <img src="{% static 'img/messi.jpg' %}" alt="" class="imagen-usuario-publicacion">
                </div>



                <div class="contenedor-informacion-publicacion-usuario">
                    <div class="informacion-publicacion-usuario">
                        <!--Nombre de usuario -->
                        <h1 class="nombre-usuario-publicacion">David Forastier</h1>
                        <!--Hace cuanto se publicó-->
                        <p class="dias-usuario-publicacion">1 Días</p>
                    </div>
                    
                    <div class="contenedor-ubicacion-publicacion">
                        <h1 class="ubicacion-publicacion">Formosa</h1>
                    </div>
                </div>


                <div class="contenedor-opciones-publicacion">
                    <i class="fa-solid fa-ellipsis opciones-publicacion"></i>
                </div>
            </article>




            <!--Foto del usuario-->
            <article class="contenedor-imagen-publicacion">
                <img src="{% static 'img/messi.jpg' %}" alt="" class="imagen-publicacion">
            </article>
            



            <article class="contenedor-interaccion-publicacion">
                <div class="contenedor-botones-interaccion">
                    <i class="fa-regular fa-heart me-gusta"></i>
                    <i class="fa-regular fa-comment comentario"></i>
                    <i class="fa-solid fa-location-arrow compartir"></i>
                </div>
                <div class="contenedor-guardar-boton-publicacion">
                    <i class="fa-regular fa-bookmark guardar"></i>
                </div>
            </article>



            <article>
                <h1><span>1</span> Me gustas</h1>
            </article>



            <article>
                <h1><span>David Forastier</span> Estamos clonando Instagram y por el momento vamos bastante bien, estoy satisfecho.</h1>
            </article>



            <article>
                <textarea name="" id="" placeholder="Agrega un comentario"></textarea>
            </article>
        </article>

    </section>
{% endblock home %}
    