{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--CDN PARA EL TITULO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">

    <!--CDN PARA EL PARRAFO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Insta</title>
</head>
<body>

    <main class="contenedor-registro-insta">
        <div class="contenedor-registro">

            <section class="contenedor-header-registro-insta">
                <div class="contenedor-titulo-registro-insta">
                    <h1 class="titulo-insta-registro">Insta</h1>
                </div>
                <div class="contenedor-parrafo-registro">
                    <p class="parrafo-registro">Regístrate para ver fotos y videos de tus amigos.</p>
                </div>
                <div class="contenedor-registro-facebook-insta">
                    <i class="fa-brands fa-facebook-f"></i>
                    <h1>Iniciar sesión con Facebook</h1>
                </div>
            </section>


            <section class="contenedor-textareas-registro-insta">
                <textarea class="textarea-registro-insta" name="" id="" placeholder="Número de celular o correo electrónico"></textarea>
                
                <textarea class="textarea-registro-insta" name="" id="" placeholder="Nombre completo"></textarea>
                
                <textarea class="textarea-registro-insta" name="" id="" placeholder="Nombre de usuario"></textarea>
                
                <textarea class="textarea-registro-insta" name="" id="" placeholder="Contraseña"></textarea>
            </section>
            <section class="contenedor-boton-registrarse-insta">
                <h1>Registrate</h1>
            </section>
        
        </div>
        <div class="contenedor-registro">

            <section class="contenedor-header-registro-insta">
                <h1 class="no-tienes-cuenta">¿Tienes una cuenta? <a href="{% url 'login' %}" class="redireccion-login">Inicia sesión</a></h1>
            </section>
        </div>
    </main>
    
</body>
</html>