.contenedor-home-insta{
    margin-left: 20%; 
    width: 55%;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    border-right: 1px solid black;
}


.contenedor-historias-usuarios{
    width: 100%;
    height: 20%;

    display: flex;
}

.historias-usuarios{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 3px solid rgb(255, 73, 41);
    padding: 2px;
}

.historias-usuarios:hover{
    transform: scale(1.2);
    cursor: pointer;
    border: 3px solid rgb(255, 42, 4);
}



/* Estilos para las publicaciones de los usuarios */
.contenedor-publicacion-usuarios{
    width: 80%;
    height: auto;
    margin: 2rem auto;
}

/* Contenedor de informacion del usuario en la publicacion*/
.contenedor-informacion-usuario{
    width: 95%;
    height: 50px;
    display: flex;
    margin: 0 auto;
}

.contenedor-imagen-usuario-publicacion{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-usuario-publicacion{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 3px solid rgb(255, 73, 41);
    padding: 2px;
    
}

.imagen-usuario-publicacion:hover{
    border: 3px solid rgb(250, 37, 0);
    transform: scale(1.1);
    cursor: pointer;
}


/* Información de la publicación del usuario */

.contenedor-informacion-publicacion-usuario{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 10px;
    margin-top: 5px;
}

.informacion-publicacion-usuario{
    display: flex;
}

.nombre-usuario-publicacion{
    top: 0; 
    left: 0; 
    margin: 0;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
.nombre-usuario-publicacion:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-size: 15px;
}
.dias-usuario-publicacion{
    top: 0; 
    left: 0; 
    margin: 0;
    padding-left: 6px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.contenedor-ubicacion-publicacion{
    height: 100%;
    margin-top: 10px;
}

.ubicacion-publicacion{
    top: 0; 
    left: 0; 
    margin: 0;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.ubicacion-publicacion:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-size: 15px;
}


/* Estilos para las opciones de la publicación */

.contenedor-opciones-publicacion{
    margin-top: 10px;
    margin-left: auto;
}

.opciones-publicacion{
    transition: transform 0.3s ease-in-out;
    font-size: 20px;
}

.opciones-publicacion:hover{
    transform: scale(1.4);
    cursor: pointer;
}


/* Estilos para la imagen de perfil */
.contenedor-imagen-publicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.imagen-publicacion{
    width: 95%;
    object-fit: cover;
}