.contenedor-mensajes{
    width: 99%;
    margin: 0 auto;
    height: auto;
    display: flex;
    overflow-y: auto;
}
a{
    text-decoration: none;
    color: black;
}
.contenedor-iconos-mensajes{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(99, 99, 99, 0.438);
}

.contenedor-iconos{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}

.insta:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.home{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}
.home:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.buscar{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}
.buscar:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mensajes{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}
.mensajes:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.notificaciones{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}
.notificaciones:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.crear{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}
.crear:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.usuario{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}
.usuario:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mas-opciones{
    font-size: 35px;
    transition: transform 0.3s ease-in-out;
}
.mas-opciones:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Aca van los mensajes de los usuarios*/
.contenedor-mensajes-usuarios{
    width: 30%;
}

.contenedor-usario-sus-mensajes{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(99, 99, 99, 0.438);
}

.usuario-registrado{
    color: black;
    font-size: 15px;
    margin-left: 10px;
    font-family: 'Young Serif', serif;
    transition: transform 0.3s ease-in-out;
}
.usuario-registrado:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: translateX(15px);
}

.nuevo-mensaje{
    margin-left: auto;
    margin-right: 10px;
    font-size: 23px;
    transition: transform 0.3s ease-in-out;
}
.nuevo-mensaje:hover{
    transform: scale(1.2);
    cursor: pointer;
}


/* Estilos para los mensajes del usuario */
.usuario-mensajes{
    width: 100%;
    margin: 5px auto; 
    display: flex;
    align-items: center;
    height: 70px;
    transition: transform 0.3s ease-in-out;
}
.usuario-mensajes:hover{
    cursor: pointer;
    transform: translateX(15px);

    background: linear-gradient(to right, #c2c2c2, #ffffff);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.imagen-usuario-mensaje{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}
.imagen-usuario-mensaje:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contenedor-usuarios-mensajes{
    margin-left: 10px;
    width: 60%;
    height: 100%;
}
.usuario-mensaje{
    color: black;
    font-size: 15px;
    margin-left: 10px;
    font-family: 'Young Serif', serif;
    transition: transform 0.3s ease-in-out;
}
.usuario-mensaje:hover{
    cursor: pointer;
    transform: translateX(15px);
}
.ultimo-mensaje-usuario{
    color: rgb(63, 63, 63);
    font-size: 10px;
    margin-left: 10px;
    font-family: 'Young Serif', serif;
    transition: transform 0.3s ease-in-out;
    font-weight: 700;
}

.mensaje-visto{
    width: 10px;
    height: 10px;
    background-color: #008cffda;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
}



/* Estilos para la seccion de la conversacion con el usuario */

.contenedor-conversacion{
    width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(99, 99, 99, 0.438);
    height: 100vh;
}

/* estilos para el header de la conversacion */
.contenedor-header-conversacion{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(99, 99, 99, 0.438);
}


.contenedor-imagen-conversacion-usuario{
    width: 10%;
    margin-left: 10px;
}

.imagen-conversacion-usuario{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.imagen-conversacion-usuario:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.contenedor-username-conversacion{
    width: 40%;
}

.username-conversacion{
    font-size: 15px;
    margin-left: 10px;
    font-family: 'Young Serif', serif;
    transition: transform 0.3s ease-in-out;
}

.username-conversacion:hover{
    cursor: pointer;
    transform: translateX(15px);
}



.contenedor-interaccion-conversacion{
    margin-left: auto;
    margin-right: 20px;
}

.contenedor-interaccion-conversacion i{
    padding: 10px;
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}

.contenedor-interaccion-conversacion i:hover{
    transform: scale(1.2);
    cursor: pointer;
}



/* Estilos para la conversacion con usuario */

.contenedor-conversacion-usuario{
    width: 100%;
    height: 70%;
    overflow-y: auto;
}

.contenedor-usuario{
    display: flex;
    align-items: center;
    width: 95%;
    margin-left: 10px;
}

.imagen-usuario{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.imagen-usuario:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contenedor-mensajes-usuario{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}
.mensaje-usuario{
    background-color: rgba(197, 196, 196, 0.822);
    display: inline-block;
    margin: 2px;
    padding: 10px;
    border-radius: 3rem;
    font-family: 'Lora', serif;
    font-size: 15px;
}


/* Estilos para los mensajes mios */

.contenedor-conversacion-user{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
}
.mensajes-user{
    background-color: #008cffda;
    display: inline-block;
    margin: 2px;
    padding: 10px;
    border-radius: 3rem;
    margin-left: auto;
    color: white;
    font-size: 15px;
}