.contenedor-header-perfil-usuario{
    width: 95%;
    margin: 3rem auto;
    display: flex;
}

/* Estilos para la imagen de perfil del usuario */
.contenedor-imagen-perfil-usuario{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-perfil-usuario{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.imagen-perfil-usuario:hover{
    transform: scale(1.2);
    cursor: pointer;
}



/* Estilos para la informacion del usuario */

.contenedor-informacion-perfil-usuario{
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* Estilos para el contenedor de informacion del usuario */
.contenedor-perfil{
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.nombre-del-usuario{
    font-family: 'Young Serif', serif;
    font-size: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.nombre-del-usuario:hover{
    cursor: pointer;
}

.boton-editar-perfil{
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
    font-family: 'Bebas Neue', sans-serif;
}
.boton-editar-perfil:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.boton-ver-archivo{
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
    font-family: 'Bebas Neue', sans-serif;
}
.boton-ver-archivo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.boton-herramientas{
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
    font-family: 'Bebas Neue', sans-serif;
}
.boton-herramientas:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.settings{
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
    font-size: 20px;
}

.settings:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contenedor-informacion-usuario{
    width: 100%;
    display: flex;
    align-items: center;
}
.contenedor-informacion-usuario h1{
    color: black;
    margin-left: 15px;
    font-size: 13px;
    font-family: 'Bebas Neue', sans-serif;
}
.contenedor-informacion-usuario span{
    color: black;
    font-size: 20px;
}




.contenedor-nombre-y-descripcion{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.contenedor-nombre-y-descripcion h1{
    font-family: 'Young Serif', serif;
}


.contenedor-nombre-y-descripcion p{
    font-size: 11px;
    font-family: 'Bebas Neue', sans-serif;
}


/* Estilos para las imagenes de las publicaciones */


.contenedor-imagenes-publicacion{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(139, 139, 139, 0.589);
}
.imagen-publicacion{
    width: 30%;
    height: auto;
    object-fit: cover;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
    margin-top: 5px;
    margin-bottom: 10px; /* Espacio entre las filas de imágenes */
    box-sizing: border-box;
}

.imagen-publicacion:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(50%) opacity(0.6);
}