<aside id="offcanvas" class="offcanvas">
    <section class="contenedor-offcanvas-buscar">
        <article class="contenedor-titulo-offcanvas-buscar">
            <h1 class="titulo-buscar">Buscar</h1>
        </article>

        <article class="contenedor-textarea-offcanvas-buscar">
            <textarea name="" id="" class="textarea-offcanvas-buscar" placeholder="Buscar"></textarea>
        </article>
        
        <article class="contenedor-recientes-offcanvas-buscar">
            <h1 class="recientes-offcanvas-buscar">Recientes</h1>
            <button class="boton-borrar-offcanvas-buscar">Borrar todo</button>
        </article>

        <article>
            <img src="" alt="">
            <h1>David Forastier</h1>
            <button>x</button>
        </article>
    </section>
</aside>